.project-description-container {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.project-description-container h2 {
    padding-bottom: 1%;
}

.project-description-container p {
    padding-bottom: 2%;
}

.project-description-container a {
    text-decoration: none;
    color: #668dcc;
}